{% extends "images/base.html" %}

{% block title %}
  Homepage
{% endblock title %}

{% block content %}
  
    <h1>Dobrodošli na moj myimgur</h1>
    <h2>Imamo puno ({{ count }}) slika</h2>

{% endblock content %}